!!! 5

%html
  %head
    %title mem.ec
    %script{ src: 'js/jquery.js' }
  %body
    %header
      %h1 mem.ec
      %ul#login
        %li sign in
        %li sign up
      %ul#menu
    %content
      != body
    %footer
      %p powered by the federation of memes
