!!! 5

%html
  %head
    %title mem.ec
    %script{ src: 'js/jquery.js' }
  %body
    %h1 mem.ec
    %ul#menu
      %li Watch
      %li Edit
    %ul#login
      %li sign in
      %li sign up
    != body
